<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hehehehj</title>
</head>
<body>
	
	<div id="content"><%= @test %></div>	
asdasd
	<script id="home-template" type="text/template">
		Home!asdasdasdsad
	</script>
	<script id="about" type="text/template"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js" data-main="/javascript/main"></script>
</body>
</html>
