<!DOCTYPE html>
<html>
<head>
  <title>Foodz2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content"></div>

<script id="recipe" type="text/template">{{= title }}</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js" data-main="/javascript/main"></script>
</body>
</html>
